# Dependabot will run on day 20 of each month at 01:57 (Europe/Berlin timezone)
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "57 1 20 * *"
    open-pull-requests-limit: 15
    assignees:
      - "foxthefox"
    versioning-strategy: "increase"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "57 1 20 * *"
    open-pull-requests-limit: 15
    assignees:
      - "foxthefox"
